<h1 id="tableLabel">{{title}}</h1>

@if (!categories) {
Loading...
}

<button mat-icon-button color="primary" class="btn-add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let category"> {{category.id}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let category"> {{category.name}}</td>
  </ng-container>

  <ng-container matColumnDef="visible">
    <th mat-header-cell *matHeaderCellDef> Visible </th>
    <td mat-cell *matCellDef="let category"> {{category.visible}}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let category">
      <button mat-icon-button color="primary" [routerLink]="['/category', category.id]">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" (click)="removeCategory(category.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row (click)="setActiveCategory(row, row.id)" *matRowDef="let row; columns: columns;">
  </tr>
</table>
