mat-form-field {
  display: block;
  margin: 10px 0;
}

h1 {
  margin-left: 15px;
  margin-top: 3.5em;
}


.search-icon {
  margin-right: 10px;
  font-size: 2em;
}

a {
  text-decoration: none;
  color: rgb(27, 27, 27);
  transition: font-size 0.3s ease, padding 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: rgb(52, 55, 209);

}