.button,
a {
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: rgb(99, 131, 235);
  }
}

.image-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: auto;
}