h1 {
  margin-top: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  color: rgb(70, 96, 211);
  font-size: 2rem;
}

h3 {
  margin-left: 15px;
  margin-top: 15px;
}

.accent {
  background-color: rgb(99, 101, 114);
  margin-left: 10px;
}

.buttons {
  margin-bottom: 20px;
}
