h1 {
  margin-top: 20px;
  margin-left: 10px;
}

.icon {
  color: var(--main-color);
  font-size: 2rem;
  margin-top: 2em;

}

.gap {
  margin: 0px;
}

h2 {
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.header-content {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.toggleEditForm {
  margin-right: 50%;
}

.icon-edit {
  color: rgb(37, 59, 155);
}

.icon-close {
  color: red;
}

.accent {
  background-color: rgb(99, 101, 114);
  margin-left: 15px;
}

.buttons {
  margin-bottom: 20px;
  margin-left: 15px;
}


.h2 {
  margin-top: 2.5em;
}

.description-container {
  margin-bottom: 40px;
  padding-bottom: 0px;
  font-family: 'Roboto', sans-serif;
  max-width: auto;
  min-height: auto;
  margin-top: 6em;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 25px;
}

p {
  padding-left: 20px;
  padding: 10px;
}
