/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;

}

html {
  scroll-behavior: smooth;
}


.approot-style {
  //   display: flex;
  //   flex-direction: column;
  //   height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100vh;
}