<div class="auth-container" id="ressetPassword">
  <form>
    <div class="resset-password-container">
      <h2>Create a password</h2>
      <form [formGroup]="RessetPasswordForm" (ngSubmit)="onRessetPasswordSubmit()">
        <div *ngIf="ressetPasswordError" class="error-message">
          Incorrect email or passwords do not match.
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Email Address</mat-label>
          <input matInput formControlName="email" type="email" placeholder="Enter your email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label> New password</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Enter your password" required
            minlength="6">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput formControlName="confirmPassword" type="password" placeholder="Confirm Password" required
            minlength="8">
        </mat-form-field>
        <div class="buttons">
          <button mat-raised-button color="primary" class="resset-password-button" type="submit">Next</button>
          <button mat-raised-button class="Cancel" (click)="onNoClick()">Cancel</button>
        </div>
      </form>
    </div>
  </form>
</div>