.auth-container {
  margin-top: 10em;
}

h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px 4px #e9e9ec;
  margin-bottom: 25px;
  padding: 5px;
  background-color: var(--main-color);
}

.resset-password-container {
  margin: auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  max-width: 350px;
  min-height: 150px;
  margin-top: 6em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 25px;
}

mat-form-field {
  width: 100%;
  display: block;
}

.resset-password-button {
  width: 30%;
}


.error-message {
  color: red;
  text-align: center;
  margin: 20px;
}

.Cancel {
  background-color: rgb(103, 104, 107);
  margin-left: 10px;
  color: white;
}

.buttons {
  margin-left: 80px;
  margin-bottom: 20px;
}